types/xsd/KGML061.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--xs:import namespace="http://www.w3.org/XML/1998/namespace"/-->
	<xs:element name="pathway">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="reaction" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="number" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="org" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="title" type="xs:anySimpleType"/>
			<xs:attribute name="image" type="xs:anySimpleType"/>
			<xs:attribute name="link" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="graphics" minOccurs="0"/>
				<xs:element ref="component" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="enzyme"/>
						<xs:enumeration value="group"/>
						<xs:enumeration value="map"/>
						<xs:enumeration value="other"/>
						<xs:enumeration value="gene"/>
						<xs:enumeration value="ortholog"/>
						<xs:enumeration value="compound"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="link" type="xs:anySimpleType"/>
			<xs:attribute name="reaction" type="xs:anySimpleType"/>
			<xs:attribute name="map" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="graphics">
		<xs:complexType>
			<xs:attribute name="name" type="xs:anySimpleType"/>
			<xs:attribute name="x" type="xs:NMTOKEN"/>
			<xs:attribute name="y" type="xs:NMTOKEN"/>
			<xs:attribute name="type" default="rectangle">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="circle"/>
						<xs:enumeration value="rectangle"/>
						<xs:enumeration value="roundrectangle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="width" type="xs:NMTOKEN" default="45"/>
			<xs:attribute name="height" type="xs:NMTOKEN" default="17"/>
			<xs:attribute name="fgcolor" type="xs:anySimpleType" default="#000000"/>
			<xs:attribute name="bgcolor" type="xs:anySimpleType" default="#FFFFFF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subtype" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="entry1" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="entry2" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="compound" type="xs:NMTOKEN"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ECrel"/>
						<xs:enumeration value="PPrel"/>
						<xs:enumeration value="PCrel"/>
						<xs:enumeration value="GErel"/>
						<xs:enumeration value="maplink"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subtype">
		<xs:complexType>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="substrate" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="product" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="irreversible"/>
						<xs:enumeration value="reversible"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="substrate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="alt" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="alt" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="alt">
		<xs:complexType>
			<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
