trunk/types/xsd/timenet/SCPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xsd:schema xmlns="http://pdv.cs.tu-berlin.de/TimeNET/schema/SCPN" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pdv.cs.tu-berlin.de/TimeNET/schema/SCPN" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="builtin/net-objects.xsd"/>
	<xsd:element name="net" type="SCPNNet"/>
	<xsd:complexType name="SCPNNet">
		<xsd:complexContent>
			<xsd:extension base="NetType">
				<xsd:sequence>
					<!-- NodeTypes -->
					<xsd:element name="place" type="PlaceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="timedTransition" type="TimedTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="immediateTransition" type="ImmediateTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="substitutionTransition" type="SubstitutionTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="module" type="ModuleType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="moduleInstance" type="ModuleInstanceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="modulePin" type="ModulePinType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- ConnectorTypes -->
					<xsd:element name="arc" type="ArcType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- TextTypes -->
					<xsd:element name="measure" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="definition" type="DefinitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="recordTokentype" type="RecordTokentype" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="libImport" type="LibImportType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReplicationType">
		<xsd:complexContent>
			<xsd:extension base="NetType">
				<xsd:sequence>
					<!-- NodeTypes -->
					<xsd:element name="place" type="PlaceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="timedTransition" type="TimedTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="immediateTransition" type="ImmediateTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="substitutionTransition" type="SubstitutionTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="moduleInstance" type="ModuleInstanceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="modulePin" type="ModulePinType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- ConnectorTypes -->
					<xsd:element name="arc" type="ArcType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- TextTypes -->
					<xsd:element name="measure" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="definition" type="DefinitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModuleImplementationType">
		<xsd:complexContent>
			<xsd:extension base="NetType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
					<!-- NodeTypes -->
					<xsd:element name="place" type="PlaceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="timedTransition" type="TimedTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="immediateTransition" type="ImmediateTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="substitutionTransition" type="SubstitutionTransitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="moduleInstance" type="ModuleInstanceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="modulePin" type="ModulePinType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- ConnectorTypes -->
					<xsd:element name="arc" type="ArcType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- TextTypes -->
					<xsd:element name="measure" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="definition" type="DefinitionType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransitionType">
		<xsd:complexContent>
			<xsd:extension base="NodeType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
				</xsd:sequence>
				<xsd:attribute name="globalGuard" type="xsd:string"/>
				<xsd:attribute name="localGuard" type="xsd:string"/>
				<xsd:attribute name="takeFirst" type="BooleanType" default="false"/>
				<xsd:attribute name="serverType" type="ServerTypeType" default="ExclusiveServer"/>
				<xsd:attribute name="timeGuard" type="xsd:string"/>
				<xsd:attribute name="specType" type="SpecTypeType" default="Automatic"/>
				<xsd:attribute name="manualCode" type="xsd:string"/>
				<xsd:attribute name="watch" type="BooleanType" default="false"/>
				<xsd:attribute name="logfileName" type="xsd:string"/>
				<xsd:attribute name="logfileDescription" type="xsd:string"/>
				<xsd:attribute name="logfileExpression" type="xsd:string"/>
				<xsd:attribute name="displayExpression" type="xsd:string"/>
				<xsd:attribute name="path" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TimedTransitionType">
		<xsd:complexContent>
			<xsd:extension base="TransitionType">
				<xsd:attribute name="timeFunction" type="xsd:string" default="EXP(1.0)"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ImmediateTransitionType">
		<xsd:complexContent>
			<xsd:extension base="TransitionType">
				<xsd:attribute name="priority" type="xsd:positiveInteger" default="1"/>
				<xsd:attribute name="weight" default="1.0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:float">
							<xsd:minExclusive value="0.0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SubstitutionTransitionType">
		<xsd:complexContent>
			<xsd:extension base="TransitionType">
				<xsd:sequence>
					<xsd:element name="net" type="ReplicationType" maxOccurs="10"/>
				</xsd:sequence>
				<xsd:attribute name="replication" type="xsd:integer" default="0"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PlaceType">
		<xsd:complexContent>
			<xsd:extension base="NodeType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
				</xsd:sequence>
				<xsd:attribute name="queue" type="QueueType" use="required"/>
				<xsd:attribute name="capacity" type="xsd:string" default="0"/>
				<xsd:attribute name="initialMarking" type="xsd:string"/>
				<xsd:attribute name="tokentype" type="xsd:string" use="required"/>
				<xsd:attribute name="watch" type="BooleanType" default="false"/>
				<xsd:attribute name="path" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArcType">
		<xsd:complexContent>
			<xsd:extension base="ConnectorType">
				<xsd:sequence>
					<xsd:element name="inscription" type="InscriptionType"/>
					<xsd:element name="handle" type="HandleType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InscriptionType">
		<xsd:complexContent>
			<xsd:extension base="InscriptionTextType">
				<xsd:attribute name="text" type="xsd:string" default="x"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LabelType">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:attribute name="text" type="xsd:string" default=""/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefinitionType">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:sequence>
					<xsd:element name="additionalData" type="AddDataType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="result" type="xsd:string" use="required"/>
				<xsd:attribute name="expression" type="xsd:string" use="required"/>
				<xsd:attribute name="path" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:complexContent>
			<xsd:extension base="DefinitionType">
				<xsd:attribute name="eval" type="MeasureEvalType" default="Instantaneous"/>
				<xsd:attribute name="watch" type="BooleanType" default="true"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CommentType">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:attribute name="commentText" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TypedefType">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:attribute name="name" type="xsd:string" use="required"/>
				<xsd:attribute name="definition" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="QueueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Random"/>
			<xsd:enumeration value="FIFO"/>
			<xsd:enumeration value="LIFO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServerTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="InfiniteServer"/>
			<xsd:enumeration value="ExclusiveServer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SpecTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Manual"/>
			<xsd:enumeration value="Automatic"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BooleanType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureEvalType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Instantaneous"/>
			<xsd:enumeration value="Cumulative"/>
			<xsd:enumeration value="TimeAverage"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LibImportType">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:attribute name="filename" type="xsd:string"/>
			</xsd:extension>
			<!-- use="required"/> removed this to enable the use of a file browser for newly created libImports -->
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParameterType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="dataType" type="xsd:string" use="required"/>
		<xsd:attribute name="defaultValue" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ParameterValueType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ModuleType">
		<xsd:complexContent>
			<xsd:extension base="NodeType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
					<xsd:element name="net" type="ModuleImplementationType" maxOccurs="unbounded"/>
					<xsd:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModuleInstanceType">
		<xsd:complexContent>
			<xsd:extension base="NodeType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
					<xsd:element name="parameterValue" type="ParameterValueType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="module" type="xsd:string" use="required"/>
				<xsd:attribute name="implementation" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ModulePinType">
		<xsd:complexContent>
			<xsd:extension base="NodeType">
				<xsd:sequence>
					<xsd:element name="label" type="LabelType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AttributeType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="dataType" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="RecordTokentype">
		<xsd:complexContent>
			<xsd:extension base="TextType">
				<xsd:sequence>
					<xsd:element name="attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AddDataType">
		<xsd:attribute name="classname" type="xsd:string" use="required"/>
	</xsd:complexType>
</xsd:schema>
